header {
	background: $color-primary;
	height: 15vh;
}

.section-one {
	background: $section-one-background;
	height: 85vh;
}

.section-two {
	background-color: $color-secondary;
	height: 80vh;
}

.section-thre {
	background-color: $color-tertiary;
	height: 95vh;
}

.section-four {
	background: $color-secondary;
	height: 80vh;
}

.section-five {
	background: $color-tertiary;
	height: 90vh;
}

.section-six {
	background: $color-quaternary;
	height: 90vh;
}

.section-seven {
	background: $color-primary;
	height: 80vh;
}

footer {
	background: $color-quaternary;
	height: 77px;
}