header {
	background: $color-primary;
	height: 100px;
}

.section-one {
	background: $section-one-background;
	height: 658px;
}

.section-two {
	background-color: $color-secondary;
	height: 748px;
}

.section-thre {
	background-color: $color-tertiary;
	height: 893px;
}

.section-four {
	background: $color-secondary;
	height: 758px;
}

.section-five {
	background: $color-tertiary;
	height: 689px;
}

.section-six {
	background: $color-quaternary;
	height: 734px;
}

.section-seven {
	background: $color-primary;
	height: 748px;
}

footer {
	background: $color-quaternary;
	height: 77px;
}