footer {
	background: $color-quaternary;
	height: 77px;

	div {
		p {
			color: $color-primary;
			font-style: normal !important;
			font-weight: 500 !important;
			font-size: 15px !important;
			line-height: 35px !important;
		}

		div {
			button {
				width: 197px;
				height: 50px;
				font-style: normal !important;
				font-weight: 600 !important;
				font-size: 15px !important;
				line-height: 26px !important;
			}
		}
	}
}