@font-face {
	font-family: "gunterz";
	src: url("../src/assets/fonts/gunterz-demo/Fontspring-DEMO-gunterz-regular.otf");
	font-family: "sebino";
	src: url("../src/assets/fonts/sebino/Sebino-Regular.ttf");
}

body::-webkit-scrollbar {
	width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: #e7e7e7;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #b2b2b2;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
}

a, a:hover, a:focus, a:active {
	text-decoration: none !important;
	color: inherit !important;
}

ul {
	list-style-type: none !important;
}

.gunterz-font {
	font-family: 'gunterz', sans-serif !important;
}

.sebino-font {
	font-family: 'sebino', sans-serif !important;
}

.logo {
	background: $logo;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.pre-line {
	white-space: pre-line;
}

.height-2 {height: 2vh !important;}
.height-4 {height: 4vh !important;}
.height-6 {height: 6vh !important;}
.height-8 {height: 8vh !important;}
.height-10 {height: 10vh !important;}
.height-15 {height: 15vh !important;}
.height-20 {height: 20vh !important;}
.height-25 {height: 25vh !important;}
.height-30 {height: 30vh !important;}
.height-35 {height: 35vh !important;}
.height-40 {height: 40vh !important;}
.height-45 {height: 45vh !important;}
.height-50 {height: 50vh !important;}
.height-55 {height: 55vh !important;}
.height-60 {height: 60vh !important;}
.height-65 {height: 65vh !important;}
.height-70 {height: 70vh !important;}
.height-75 {height: 75vh !important;}
.height-80 {height: 80vh !important;}
.height-85 {height: 85vh !important;}
.height-90 {height: 90vh !important;}
.height-95 {height: 95vh !important;}
.height-100 {height: 100vh !important;}

.width-5 {width: 5vw !important;}
.width-10 {width: 10vw !important;}
.width-15 {width: 15vw !important;}
.width-20 {width: 20vw !important;}
.width-25 {width: 25vw !important;}
.width-30 {width: 30vw !important;}
.width-35 {width: 35vw !important;}
.width-40 {width: 40vw !important;}
.width-45 {width: 45vw !important;}
.width-50 {width: 50vw !important;}
.width-55 {width: 55vw !important;}
.width-60 {width: 60vw !important;}
.width-65 {width: 65vw !important;}
.width-70 {width: 70vw !important;}
.width-75 {width: 75vw !important;}
.width-80 {width: 80vw !important;}
.width-85 {width: 85vw !important;}
.width-90 {width: 90vw !important;}
.width-95 {width: 95vw !important;}
.width-100 {width: 100vw !important;}