.section-five {
	background: $color-tertiary;
	height: 90vh;

	div {
		div {
			div {
				div {
					&.circle-image-one, &.circle-image-two, &.circle-image-three {
						clip-path: circle(30%);
						background-color: $color-quinary;
					}
					&.circle-image-one {
						background-image: $circle-image-one;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.circle-image-two {
						background-image: $circle-image-two;
						background-repeat: no-repeat;
						background-position: center;
					}
					&.circle-image-three {
						background-image: $circle-image-three;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				h3 {
					color: $color-primary;
					font-style: normal;
					font-weight: 900;
					font-size: 38px;
					line-height: 38px;
					text-transform: uppercase;
				}
				button {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 26px;
					text-align: center;
					text-transform: uppercase;
				}
			}
			&.dog-image-three {
				background: $dog-image-two;
				background-repeat: no-repeat;
				background-size: 160%;
				background-position: 85% 0%;
			
				@media screen and (max-width: $medium) {
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			
				@media screen and (max-width: $small) {
					background-size: contain;
					background-position: center;
					background-position: 85% 0%;
				}
			}
			&.dog-food-image {
				background: $dog-food-image;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			
				@media screen and (max-width: $medium) {
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			
				@media screen and (max-width: $small) {
					background-size: contain;
					background-position: center;
					background-position: 85% 0%;
				}
			}
		}
		
		button {
			width: 40px;
			height: 40px;
			left: 80%;
			top: 15%;
			i {
				color: $button-color;
			}
		}
	}
}