.section-three {
	background-color: $color-tertiary;
	height: 95vh;

	div {
		h2 {
			color: $color-primary;
			font-style: normal;
			font-weight: 900;
			font-size: 48px;
			line-height: 48px;
			text-align: center;
			text-transform: uppercase;
		}

		ul {
			li {
				.nav-link {
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 35px;
					color: $color-primary !important;
					background-color: rgba(0, 0, 0, 0) !important;

					&:hover {
						text-decoration: underline !important;
					}
					&.active {
						color: $color-primary !important;
						text-decoration: underline !important;
					}
				}
			}
		}

		div div div div {
			button {
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 26px;
				text-align: center;
				text-transform: uppercase;

				&.carousel-control-prev {
					span.carousel-control-prev-icon {
						background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
						background-color: black !important;
						border-color: black !important;
					}
				}
				
				&.carousel-control-next {
					span.carousel-control-next-icon {
						background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orange' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
						background-color: black !important;
						border-color: black !important;
					}
				}
			}
			
			div {
				p  {
					color: $color-primary !important;
					font-style: normal;
					font-weight: 600;
					font-size: 12px;
					line-height: 25px;
				}

				button {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 26px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
}