.section-four {
	background: $color-secondary;
	height: 80vh;

	div {
		div {
			h2 {
				color: $color-quaternary !important;
				font-style: normal;
				font-weight: 900;
				font-size: 48px;
				line-height: 48px;
				text-transform: uppercase;
			}

			button {
				&.carousel-control-prev, &.carousel-control-next {
					height: 60px;
					width: 30px;
					background-color: none !important;
					bottom: 0%;
					top: -13%;
				}
				&.carousel-control-next {
					right: 10%;
				}
				&.carousel-control-prev {
					left: 85%;
				}
			}

			div {
				div div div div{
					button {
						width: 40px !important;
						height: 40px !important;
					}
				}
				&.carousel {
					.carousel-indicators {
						position: relative;
						bottom: 7%;
						left: 30%;

						button {
							height: 10px;
							width: 10px;
							border-radius: 50%;
							border: 2px solid #222222;
							background-color: #222222 !important;

							&.active {
								height: 10px;
								width: 10px;
								border-radius: 50%;
								border: 2px solid #000000;
							}
						}	
					}

					button {
						&.carousel-control-prev {
							span.carousel-control-prev-icon {
								filter: invert(2);
								background-color: transparent !important;
								border-color: transparent !important;
							}
						}
						&.carousel-control-next {
							span.carousel-control-next-icon {
								filter: invert(2);
								background-color: transparent !important;
								border-color: transparent !important;
							}
						}
					}
				}

			}
		}
	}
}