// colors
$color-primary: #F2DDC6;
$color-secondary: #F8EEE2;
$color-tertiary: #048E5B;
$color-quaternary: #03715B;
$color-quinary: #D6163A;
$button-color: #FF900E;

// imgs
$logo: url("./assets/svg/logo.svg");
$dog-image-one: url("./assets/imgs/1919739.jpg");
$dog-image-two: url("./assets/imgs/1919739.jpg");
$dog-image-three: url("./assets/imgs/1919739.jpg");

$circle-image-one: url("./assets/svg/Group609.svg");
$circle-image-two: url("./assets/svg/Group441.svg");
$circle-image-three: url("./assets/svg/Group608.svg");

$dog-food-image: url("./assets/svg/dog-food-image.svg");

$hexagon-one: url("./assets/imgs/hexagon-one.png");
$hexagon-two: url("./assets/imgs/hexagon-two.png");
$hexagon-three: url("./assets/imgs/hexagon-three.png");

// media screen sizes
$smaller: 320px;
$small: 750px;
$medium: 990px;
$large: 1170px;