// colors
$color-primary: #F2DDC6;
$color-secondary: #F8EEE2;
$color-tertiary: #048E5B;
$color-quaternary: #03715B;
$button-color: #FF900E;

// imgs
$logo: url("./assets/svg/logo.svg");
$section-one-background: url("./assets/imgs/1919739.jpg");

// media screen sizes
$smaller: 320px;
$small: 750px;
$medium: 990px;
$large: 1170px;